body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.soundboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.sound-button {
  text-align: center;
}

.sound-button img {
  width: 80px;
  height: 80px;
}

.sound-button button {
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sound-button button:hover {
  background-color: #2980b9;
}
